/* Global Style Changes */
body {
	font-family: $font;
	background:$bgry;
	font-size: 12px;
}
div.ud-pagetitle {
	background: $pal-4;
}
h1.ud-pagetitle {
	color: $wht;
	font-size: 36px;
	line-height: 40px;
	padding-top: 29px;
	padding-bottom: 25px;
	text-shadow: 0 0 0.3em darken($wht, 30%);
}
/* Off-Canvas Server Status Styling */
span.ud-server-online {
	color:#A1D700;
}
span.ud-server-offline {
	color:#BF4949;
}

/* Banner/Top */
.ud-banner-topline {
	width:100%;
	height:4px;
	background: $pal-5;
}

#logo-button {
	width:40px;
	height:16px;
	background: $pal-5;
}

ul.uk-navbar-nav li a:hover {
	transition: background-color .5s;
	-webkit-transition: background-color .5s; /* Safari */
}
.uk-navbar {
	z-index: 1000;
}
/* Site Banner */
#ud-hbanner {
	background: $pal-3;
	height: 200%;
}
.ud-banner-homepage {
	padding: 0px;
	width: 100%;
	height:150px;
	background: $pal-2;
}
/* Jquery Cycle2 Slideshow */
.ud-slideshow-bg {
	background: #0D1C33;
}
.ud-slideshow-inner {
	padding: 0px;
}

#progress {
	position: absolute;
	bottom: 0;
	height: 6px;
	width: 0px;
	background: $pal-3;
	z-index: 600;
}
.cycle-overlay {
	position: absolute;
	bottom: 0;
	z-index: 500;
	background: $pal-1;
	color: $wht;
	padding: 15px;
	opacity: .5;
}
.cycle-prev {
left: 0;
}
.cycle-next {
right: 0;
}
.cycle-prev, .cycle-next {
	cursor: pointer;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 80px;
	z-index: 800;
}
/* Breadcrumb */
.ud-breadcrumb {
	padding: 10px 10px 0 10px;
	font-size: 10px;
}
.ud-breadcrumb ul {
	margin: 0;
}
/* Main Page Grid */
.ud-mainpage-bg {
	background: $bgry;
}
.ud-mainpage {
	padding:10px;
}
h3.uk-article-title {
	font-size: 16px;
	margin: 0;
	line-height: 100%;
}
/* Footer */
.ud-footer-bg {
	background: $pal-1;
}
.ud-footer-text {
	/*color: $gry;*/
	margin-top: 20px;
	text-align: center;
}
.ud-copyright {
	margin: 40px 0;
	/*color: $gry;*/
	text-align: center;
	font-size: 10px;
}
.ud-footernav {
	color:$gry;
}
.ud-footernav ul {
	margin-bottom: 0px;
	text-align: center;
}
.ud-footernav ul li a {
	color:$gry;
	font-size: 10px;
}
.ud-footernav ul li a:hover {
	color:$wht;
	text-decoration: none;
}
.ud-footersocial {
	width: 259px;
	margin-top: 40px;
}
.ud-footersocial a {
	margin: 5px;
}
/* Global Rank Icons */
img.ud-rank {
	display: inline;
	width: 14px;
	height: 14px;
	vertical-align: center;
}
/* Special Navbar Changes */
img.ud-navbar-logo {
	height: ($navbar-height);
}
.ud-rpost-title {
	margin-bottom: 0px;
}
.ud-rpost-cont {

}
.ud-rpost-meta {

}

/* Error Pages */
.ud-error {
	background: $pal-1;
}
.ud-error-container {
	max-width: 700px;
	width: 100%;
}
.ud-sadface {
	font-size: 400px;
	color: $pal-4;
	line-height: 100%;
}
.ud-errorlock {
	font-size: 330px;
	color: $pal-4;
	line-height: 100%;
	padding-top:55px;
}
.ud-error-text {
	color: $gry !important;
}
.ud-error-info {
	padding: 109px 0;
}
/* CSS Fixes */
.ud-buttonfix {
	padding-top: 10px;
}
@media (max-width: 767px) {
	.ud-mobile-padding {
		padding: 0 20px !important;
	}
}
/* Fancy Transparency Button */

.ud-transbutton-bg {
	background: url("../img/transbtns/floatingcity.png") fixed repeat-y top center;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
@media (max-width: 1220px) {
	.ud-transbutton-bg {
		max-width: 1000px !important;
	}
}
.ud-transbutton-trans {
	height: 250px;
}
.ud-transbutton-content {
	margin-top: 83px;
}
h3.ud-transbutton-text {
	color: $pal-5;
	font-size: 36px;
	margin-bottom:20px;
}
/*Avatars*/

img.ud-avatar-25px {
	border-radius: 25px;
	width:25px;
	height:25px;
}
img.ud-avatar-50px {
	border-radius: 50px;
	width:50px;
	height:50px;
}
img.ud-avatar-100px {
	border-radius: 100px;
	width: 100px;
	height: 100px;
}
img.ud-avatar-200px {
	border-radius: 200px;
	width: 200px;
	height: 200px;
}
.ud-post-bar {
	background: $pal-1;
	color: $gry;
}
.ud-post {
	background:#e5e4e3;
	margin-bottom:5px;
	margin-top:10px;
}
.ud-post-bar-left {
	font-size:10px;
	line-height:27px;
	padding-left:15px;
}
a.ud-post-bar-link, a.ud-post-bar-link:hover, a.ud-post-bar-link:active, a.ud-post-bar-link:visited {
	color: $pal-5;
	text-decoration: none;
}
.ud-post-info {
	padding: 0 15px 0 5px;
	width:120px;
	border-right: solid 1px;
}
.ud-post-content {
	padding-left: 20px;
}
/* Post Coloring */
.ud-post-td .ud-post-info {
	border-color: #c18f28 !important;
}
div.ud-post-td {
	background: lighten(#c18f28, 40%);
}
.ud-post-ud .ud-post-info {
	border-color: $pal-3 !important;
}
.ud-post-wd .ud-post-info {
	border-color: #c04e4e !important;
}
div.ud-post-wd {
	background: lighten(#c04e4e, 40%);
}
/* Load More */
.ud-load-more-spacing {
	margin-top:10px;
	margin-bottom:15px;
}
/* Feedback Form */
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
/* Custom Feedback Form */
.fb-hide {
	display:none;
}
#feedback-form {
	border:5px solid $pal-3;
	z-index:10000;
	background: #fff;
	padding:10px;
	width:500px;
}
#cboxClose{
	position:absolute;
	top:5px;
	right:75px;
	display:block;
	background:url(img/cboxclose.png) no-repeat top center;
	width:25px;
	height:25px;
	text-indent:-9999px;
	border: 0;
	padding: 0;
	margin: 0;
	outline: 0;
}
td.ud-post-content p, p {
	font-size: 15px;
}

div.ud-post-bar-left.uk-float-left {
	font-size: 11px;
}

td.ud-post-info div.uk-text-center a {
	font-size: 15px;
}

tr.thread td:first-child a {
	font-size: 15px;
}

tr.thread td:nth-child(2) a {
	font-size: 13px;
}

div.ud-breadcrumb {
	font-size: 12px;
}

td.forum-name a {
	font-size: 15px;
}

/* Shoutbox */
#shoutbox {
  padding: 0 40px;
  background: $pal-1;
  color: $wht;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
}
.shoutbox-list {
  border-bottom: 1px solid $pal-2;
  background-color: lighten($pal-1, 0.2);
  padding: 5px;
  display: none;
}
#shoutbox-list {
  text-align: left;
  margin: 0px auto;
}
#shoutbox-form {
  text-align: left;
	position: relative;
}
.shoutbox-list-time {
  color: $pal-3;
}
.shoutbox-list-nick {
  margin-left: 5px;
  font-weight: bold;
}
.shoutbox-list-message {
  margin-left: 5px;
}

#shoutbox-response {
	color: $pal-4;
	position: absolute;
	right: 5px;
	bottom: 5px;

}
/* Top Offcanvas */

.offcanvas-top {
  position: relative;
  overflow: hidden;
  height: 3.2em;
  -webkit-transition: height 0.5s ease-out;
  -moz-transition: height 0.5s ease-out;
  -o-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
}
.offcanvas-top.active {
  height: 13.6em;
}
.o-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1em 1em 2.5em;

}
.crumbs li a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid #000;
}
.crumbs li:last-child a {
  border-bottom: 0;
}
#trigger {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  font-size: 1em;
  padding: 0 1em 1em;
}
.ud-header-container {
	border-top: 2px solid $wht;
	background-color: $pal-2;
	height: 45px;
}
#masthead {
	width: 100%;
	margin: auto;
	max-width: 1200px;
}
#secondary-nav {
	float: right;
	margin: 0px 16px;
	/*text-transform: uppercase;*/
	font-size: 13px;
	font-family: $font;
}
#secondary-nav ul {
	margin-bottom: 0px;
}

#secondary-nav ul li {
	display: inline-block;
	/*text-transform: uppercase;*/
	list-style: none;
	margin: 0px;
	font-size:14px;
	font-weight: thin;
	padding: 11px;
}

#secondary-nav a:visited, #secondary-nav a:link {
	color: $pal-1;
	text-decoration: none;
	transition: .3s;
}

#secondary-nav a:hover {
	color: $pal-5;
	text-decoration: none;
	transition: .3s;
}

.ud-container-pal1 {
	background: $pal-1;
	width:100%;
}
.ud-container-pal2 {
	background: $pal-2;
	width:100%;
}
.ud-container-pal3 {
	background: $pal-3;
	width:100%;
}
.ud-container-pal4 {
	background: $pal-4;
	width:100%;
}
.ud-container-pal5 {
	background: $pal-5;
	width:100%;
}
.ud-container-wht {
	background: $bgry;
	width:100%;
}
