div.nojs {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3000;
	height: 100%;
	width: 100%;
	background-color: #0d1c33;
	color:#fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
}
div.nojs div {
	width: 100%;
	max-width: 600px;
	margin: auto;

}
div.nojs div h1 {
	color: #a1d700;
	font-size: 25px;
}