/*
*
*  ALL VARIABLES MUST BE DEFINED.
*
*/
/* Color Variables */
$pal-1:#287558;
$pal-2:#318F6D;
$pal-3:#C9A0DC;
$pal-4:#CC4E67;
$pal-5:#FFB1D5;
$wht:#fff;
$blk:#000;
$gry:#c6c6c6;
$bgry:#eeeeee;
$table-highlight:#f2fae3;
/*Font Variables*/
$font:Oxygen, Arial, sans-serif;
/* Other Vars */
$navbar-height:40px;
/* Google Font APIs */
@import url("http://fonts.googleapis.com/css?family=Oxygen:400,700,300");
/* Get all the StyleSheets */
@import "_ud_uikit.scss";
@import "_nojs.scss";
@import "_codemirror.scss";
@import "_markdownarea.scss";
@import "_datepicker.scss";
@import "_form-file.scss";
@import "_form-password.scss";
@import "_notify.scss";
@import "_sticky.scss";
@import "_sortable.scss";
@import "_additional.scss";