/*
*
*  ALL VARIABLES MUST BE DEFINED.
*
*/
/* Color Variables */
$pal-1:#0b4239;
//$pal-1:#152135; //Adjusted to image output distortion.
$pal-2:#00bd72;
$pal-3:#f23535;
$pal-4:#2b79a1;
$pal-5:#e34517;
$wht:#fff;
$blk:#000;
$gry:#c6c6c6;
$bgry:#eeeeee;
$table-highlight:#f2fae3;
/*Font Variables*/
$font:Oxygen, Arial, sans-serif;
/* Other Vars */
$navbar-height:40px;
/* Google Font APIs */
@import url("https://fonts.googleapis.com/css?family=Oxygen:400,700,300");
/* Get all the StyleSheets */
@import "_ud_uikit.scss";
@import "_nojs.scss";
@import "_codemirror.scss";
@import "_markdownarea.scss";
@import "_datepicker.scss";
@import "_form-file.scss";
@import "_form-password.scss";
@import "_notify.scss";
@import "_sticky.scss";
@import "_sortable.scss";
@import "_tabzilla.scss";
@import "_additional.scss";
